.to-do-list {
  margin: 20px auto;
  width: 1000px;
  display: flex;
  flex-direction: column;
}
.to-do-list__add-block {
  display: flex;
  margin-bottom: 20px;
}
.to-do-list__input {
  flex-grow: 1;
}
.to-do-list__add-button {
  width: 50px;
}